@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #4f46e5;
  outline: 1px solid #4f46e5;
}

body {
  background-color: #0d0d0d;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
}

header.stickyHeader {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #0d0d0d;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
